.mainContainer {
    padding-top: 50px;
    padding-bottom: 50px;
    /* margin-left: 120px;
    margin-right: 100px; */
    background-color: rgb(245, 245, 245);
    width: 100vw;
}

.mainTitle {
    font-family: "teko";
    font-size: 68px;
    color: rgb(0, 0, 0);
    margin-left: 120px;
    margin-right: 100px;

}

.diplomaTitle {
    font-family: "teko";
    font-size: 30px;
    color: rgb(2, 2, 2);
    margin-left: 120px;
    margin-right: 100px;
    padding-top: 45px;
}


.EducationPlaces {
    font-family: titillium;
    font-size: 16px;
    text-align: justify;
    margin-left: 120px;
    margin-right: 120px;
    display: block;
    text-align: justify;
}

/* Media queries pour les smartphones */
@media (max-width: 480px) {


    .mainContainer {
        padding: 2rem;
        margin: 0;
        width: 100%;
    }

    .mainTitle {
        text-align: center;
    }
   
 
    .mainTitle {
      margin: 0rem 0.5rem;
    }

    .diplomaTitle {
        margin: 1rem 0.5rem;
    }

    .EducationPlaces {
        margin: 1rem 0.5rem;
    }
  
  }