
.mainContainer {
    padding-top: 50px;
    padding-bottom: 50px;
    /* margin-left: 120px;
    margin-right: 100px; */
    width: 100%;
    background-color: rgb(245, 245, 245);
}
.mainTitle{
    font-family: "teko";
    font-size: 68px;
    color: rgb(0, 0, 0);
    margin-left: 120px;
    margin-right: 100px;

}

.diplomaTitle {
    font-family: "teko";
    font-size: 30px;
    color: rgb(2, 2, 2);
    margin-left: 120px;
    margin-right: 100px;
}


.EducationPlaces {
    font-weight: bold;
    font-family: titillium;
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
    margin-left: 120px;
    margin-right: 100px;
}