@font-face {
  font-family: "titillium";
  src: url(../assets/Titillium_Web/TitilliumWeb-Regular.ttf);
}

@font-face {
  font-family: "teko";
  src: url(../assets/Teko/Teko-Regular.ttf);
}


.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  padding: 4rem 0;
  position: relative;
  flex-wrap: wrap;

}

.title {
  line-height: 0.65;
  font-size: 4rem;
  margin: 0;
  font-family: "teko";
}

.title2 {
  line-height: 1.15;
  font-size: 4rem;
  margin: 0;
  font-family: "teko";
}

.text {
  font-family: "titillium";
  font-size: 1.5rem;
  margin: 0;

}

.mainPicture {
  height: 70vh;
  max-width: 100%;
  margin-top: 3rem;
}



.btn {
  margin-top: 2rem;
  background-color: black;
  color: rgb(255, 255, 255);
  width: 106px;
  height: 47px;
  border-color: rgb(82, 70, 226);
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

.mailto {
  color: white;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.mailto:hover {
  color: rgb(82, 70, 226);
}

.picContainer {
  margin-bottom: 7rem;
}

/* Media queries pour les smartphones */
@media (max-width: 480px) {
 
  .text {
    margin-left: 2rem;
  }

  .title {
    margin: -2rem 2rem 0;
    bottom: 5rem;
  }

  .title2 {
    margin: 0rem 2rem;

  }


  .mainPicture {
    height: auto;
    width: 70%;
    margin-top: 2rem;
    margin-left: 3.7rem;
  }

  .btn {
    margin-left: 2rem;

  }
}