.mainContainer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: black;
    width: 100%;

}

.usedTechText {
    color: white;
    margin-bottom: 40px;
}

.parentImagesContainer {
    display: flex;
    justify-content: space-around;
}

.imageExo {
    width: 70%;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;

}

.imageExo:hover {
    transform: scale(1.1);
}


.mainTitle {
    font-family: "teko";
    font-size: 68px;
    color: rgb(255, 255, 255)
}

.btnLinkedin {
    width: 106px;
    height: 47px;
    color: rgb(43, 43, 45);
    border-color: rgb(255, 255, 255);
    border-radius: 7px;
}

.LinkedinText {
    color: black;
    text-decoration: none;
}

.btnLinkedin:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: (255, 255, 255);

}

.LinkedinText:hover {
    color: white;
}

.text {
    padding-top: 30px;
    color: rgb(255, 255, 255);
}

/* Media queries pour les smartphones */
@media (max-width: 480px) {

    .mainContainer {
        padding: 2rem;
        margin: 0;
        width: 100%;
    }
 
    .usedTechText {
      margin: 2rem;
    }

   
  
  }